<!DOCTYPE html>
<html>
<head>
    <title>AiShields Chat</title>
</head>
<body>
    <br/><br/>
    <center><img src='http://127.0.0.1:5000/static/aishields.jpg' alt='AiShields' style='height:200px;width:200px'/><br/><br/>
    <h1>GenAI Chat</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</center>
    <form name="chatform" method="POST" action="/chat">
        <center>
            <h3>Welcome {{username}}!</h3>
            
            <table>
                <tr><td>
                    <label for="username">Name:</label></td><td>
                    <input type="text" name="username" required value="{{username}}"></td></tr><tr><td>
              <tr><td>
                    <label for="email">Email:</label></td><td>
        <input type="email" name="email" required value="{{email}}"></td></tr><tr><td>
        <label for="api">API:</label></td><td>
            <select id="selectvalue" name="api">
                {% for n in apis: %}
                    {% if n["APIowner"] == "OpenAI": %}
                    <optgroup label="{{n["APIowner"]}}">
                         {%for m in n["TextGen"]["Models"]:%}
                            {% if m["Name"] == "GPT 4":%}
                    <option value="{{n["APIowner"] + "-" + n["TextGen"]["Name"] + "-" + m["Name"]}}" selected >{{ n["APIowner"] + ' ' + n["TextGen"]["Name"] + ' ' + m["Name"]}}</option>
                            {% else: %}
                            <option value="{{n["APIowner"] + "-" + n["TextGen"]["Name"] + "-" + m["Name"]}}" >{{ n["APIowner"] + ' ' + n["TextGen"]["Name"] + ' ' + m["Name"] }}</option>
                    
                            {% endif %} 
                        {% endfor %}
                    {% elif n["APIowner"] == "Anthropic": %}
                    </optgroup><optgroup label="Anthropic">
                        {% for o in n["TextGen"]["Models"]: %}
                    <option value="{{n["APIowner"] + "-" + n["TextGen"]["Name"] + "-" + o["Name"]}}">{{ n["APIowner"] + ' ' + n["TextGen"]["Name"] + ' ' + o["Name"] }}</option>
                        {% endfor %}
                    {% else: %}
                        {% if not n["TextGen"] or n["TextGen"]["Models"]:%}
                    </optgroup>
                        {% else:%}
                        </optgroup><optgroup label="{{n}}">
                            {% for p in n["TextGen"]["Models"]: %}
                                 {% if p:%}
                                    <option value="{{n[APIowner] + "-" + n["TextGen"]["Name"] + "-" + p["Name"]}}">{{ n[APIowner] + ' ' + n["TextGen"]["Name"] + ' ' + p["Name"] }}</option>
                                 {% endif %}
                                 {% endfor %}
                                 
                            </optgroup>
                        {% endif %}
                 {% endif %} 
                {% endfor %}
                    
            </select></td>
                </tr><tr><td>
        
        Store Token?:</td><td>
            <select id="selectstore" name="storetoken">
                <option value="No" selected>No</option>
                <option value="Yes">Yes</option>
            </select>
        </td></tr><td style="vertical-align:bottom">
        <label for="apitoken">Api Token:</label></td><td>
        <input type="text" name="apitoken" required></tr><tr><td>
            <label for="inputprompt">Prompt:</label></td><td>
            <textarea id="inputprompt" name="inputprompt" rows="4" cols="50" required>
                Enter your prompt here
            </textarea></td>
        </tr><tr><td>&nbsp;</td><td style="align:center">
        <input id="btnChat" type="submit" value="Chat" style="align:center;border:3px;color:navy;bordercolor:navy;font-face:verdana;font-weight:bolder"></td>
    </tr>
    {% if output %}
<tr><td>
        <label for="response">Response:</label></td><td>
        <textarea id="response" name="response" rows="4" cols="50" required>
            &nbsp;
        </textarea></td>
    </tr><tr><td>&nbsp;</td><td style="align:center">
    <input id="btnReGen" type="submit" value="ReGenerate" style="align:center;border:3px;color:navy;bordercolor:navy;font-face:verdana;font-weight:bolder"></td>
</tr>
    
    <tr>    
        <td>

        <label for="cleanoutput">Response:</label></td><td>
        {{output.clean}}</td></tr>
        {% endif %}
            </table></center>
    </form>
    <!-- Display the list of users -->
    {% if output %}
    
    <center><h2>AiShields Report</h2>
    <table border="1">
        <tr>
            <th>Category</th>
            <th>Details</th>
            <th>AiShields ID</th>
        </tr>
        {% for finding in findings %}
        <tr>
            <td>{{ finding.category }}</td>
            <td>{{ finding.details }}</td>
            <td>{{ finding.id }}</td>
        </tr>
        {% endfor %}
    </table></center>
    {% endif %}
</body>
</html>
