<!DOCTYPE html>
<html>
    <head>
        <title>AiShields .:. Login .:. </title>
    </head>
    <body>
        <br/><br/>
        <center><img src='https://dev.aishields.org/static/aishields.jpg' alt='AiShields' style='height:300px;width:300px'/>
            <br/><br/><form method='POST' action='/forgot'>
                <label for='email'>Email:&nbsp;&nbsp;&nbsp;</label><input type='text' name='email' required />
                <input type='submit' name='submit' value='Send Reset Email'style='align:center;border:3px;color:navy;bordercolor:navy;font-face:verdana;font-weight:bolder' />
            </form>
        </center>
    </body>
</html>"
    