<!DOCTYPE html>
<html>
    <head>
        <title>AiShields .:. Login .:. </title>
    </head>
    <body>
        <br/><br/>
        <center><img src='https://dev.aishields.org/static/aishields.jpg' alt='AiShields' style='height:300px;width:300px'/>
            <br/><br/><form method='POST' action='/login'>
                <label for='email'>Email:&nbsp;&nbsp;&nbsp;</label><input type='text' name='email' required />
                <br/><br/><label for='email'>Password:&nbsp;&nbsp;&nbsp;</label>
                <input type='password' name='passphrase' required /><br/><br/>
                <input type='hidden' name='csrf_token' value="{{ csrf_token }}" />
                <input type='submit' name='submit' value='Sign In'style='align:center;border:3px;color:navy;bordercolor:navy;font-face:verdana;font-weight:bolder' />
            </form><br/><br/>
            <a href='http://127.0.0.1:5000/forgot'>Forgot</a>&nbsp;&nbsp;&nbsp;<a href='http://127.0.0.1:5000/newaccount.html'>Join</a>
        </center>
    </body>
</html>"
    