<!DOCTYPE html>
<html>
    <head>
        <title>AiShields .:. Login .:. </title>
    </head>
    <body>
        <br/><br/>
        <center><img src='https://dev.aishields.org/static/aishields.jpg' alt='AiShields' style='height:300px;width:300px'/>
            <br/><br/><form method='POST' action='/reset'>
                <label for='email'>Email:&nbsp;&nbsp;&nbsp;</label><input type='text' name='email' value="{{email}}" required />
                <br/><br/><label for='email'>New Password:&nbsp;&nbsp;&nbsp;</label>
                <input type='password' name='passphrase' required /><br/><br/>
                <input type='hidden' name='code' value="{{ code }}" />
                <input type='hidden' name='csrf_token' value="{{ csrf_token }}" />
                <input type='submit' name='submit' value='Change Password' style='align:center;border:3px;color:navy;bordercolor:navy;font-face:verdana;font-weight:bolder' />
            </form>
        </center>
    </body>
</html>"
    
