<!DOCTYPE html>
<html>
<head>
    <title>AiShields Verify Email</title>
</head>
<body>
    <br/><br/>
    <center><img src='http://127.0.0.1:5000/static/aishields.jpg' alt='AiShields' style='height:200px;width:200px'/><br/><br/>
    <h3>AiShields Email Verification</h3>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</center>
    <form name="verifyemailform" method="POST" action="/verifyemail">
        <center>
            <table>              <tr><td>
                    <label for="email">Email:</label></td><td>
        <input type="email" name="email" required value="{{email}}" /></td></tr><tr><td>
            <tr><td>
                <label for="email">Code:</label></td><td>
    <input type="password" name="passphrase" required /></td></tr><tr><td>
        <input type='hidden' name='csrf_token' value="{{ csrf_token }}" />
        <input id="btnChat" type="submit" value="Next" style="align:center;border:3px;color:navy;bordercolor:navy;font-face:verdana;font-weight:bolder"></td>
    </tr>
</table></center>
    </form>
</body>
</html>
